* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	min-width: 500px;
}

.foodBrand {
	display: inline-block;
	width: 90%;
	border: 1px solid black;
	margin-left: 5%;
}

.foodType {
	display: inline-block;
	width: 42.5%;
	margin-left: 5%;
}

.volumesPrices li{

	display: inline-block;
	width: 15%;
	margin-left: 5%;
	padding: 0;
}